<div class="row">
    <div *ngIf="!usersToApprove">
           No Users To Approve
    </div>
    <div *ngIf="usersToApprove" class="">
        <div class="col-xs-12 panel-heading approve_panel">
            <span><i class="fa fa-search" aria-hidden="true"></i></span>
            <div class="pull-right action-buttons">
                <div class="btn-group pull-right">
                      Select All:  <input type="checkbox" id="ApproveAll" ([ngModel])="selectToApprove"
                      (change)="addAllUsersToApprove(userApprove,$event.target.checked)"/>
                </div>
            </div>
        </div>
        <div class="col-xs-12 approve_list" >
            <div  *ngFor="let userApprove of usersToApprove; let i = index; trackBy: customTrackBy">
                <div class="col-xs-12 col-md-10 "> 
                   <span class="text_capitalize"> {{userApprove.ProfileName}} &nbsp;</span>
                    <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp; 
                    {{userApprove.Email}}&nbsp;
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
                <div class="col-xs-12 col-md-2 action-buttons">
                    <input type="checkbox" id="approveUser" [checked]="selectToApprove" [(ngModel)]="usersToApprove[i].IsActive"/>
                    <select [(ngModel)]="usersToApprove[i].RoleName">
                        <option  *ngFor="let role of userApprove.UsersRoles" [value]="role" >
                            {{role}}
                        </option>
                    </select>
                </div>
                <div class="col-xs-12 data_hr">
                        <hr>  
                </div>
            </div>
        </div>
        <div class="col-xs-12 ">
                <div class="pull-right ">
                    <div class="pull-right">
                        <button class="btn btn-default" (click)="removeChanges()">Reject</button>
                        <button class="btn btn-primary" (click)="saveApproved(usersToApprove)" >Approve</button>
                    </div>
                </div>
            </div>
    </div>
</div>