<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()">&times;</button>
            <h4 class="modal-title">Approve Card</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <div class="col-md-4">
                    <label>Name in Full </label>
                </div>
                <div class="col-md-8">
                    <label>- {{CreditCard.FullName}}</label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <label>Display Name</label>
                </div>
                <div class="col-md-8">
                    <label>- {{CreditCard.DisplayName}}</label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <label for="txtNic">NIC</label>
                </div>
                <div class="col-md-3 ">
                    <label>- {{CreditCard.Nic}}</label>
                </div>
                <div class="col-md-3">
                    <label for="txtPassport">Passport</label>
                </div>
                <div class="col-md-3 ">
                    <label>- {{CreditCard.Passport}}</label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <label for="txtAddress">Address</label>
                </div>
                <div class="col-md-3 ">
                    <label>- {{CreditCard.Address}} </label>
                </div>
                <div class="col-md-3">
                    <label for="txtMobile">Mobile</label>
                </div>
                <div class="col-md-3 ">
                    <label>- {{CreditCard.MobilePhone}} </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <label for="txtHomePhone">Home Phone</label>
                </div>
                <div class="col-md-3 ">
                    <label>- {{CreditCard.HomePhone}}</label>
                </div>

                <div class="col-md-3">
                    <label for="txtOffice">Office Phone</label>
                </div>

                <div class="col-md-3 ">
                    <label>- {{CreditCard.OfficePhone}}</label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <label for="txtEmail">Email</label>
                </div>
                <div class="col-md-3 ">
                    <label>- {{CreditCard.Email}}</label>
                </div>
                <div class="col-md-3">
                    <label for="txtEmployer">Employer</label>
                </div>
                <div class="col-md-3 ">
                    <label>- {{CreditCard.Employer}}</label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <label for="txtSalary">Salary</label>
                </div>
                <div class="col-md-3 ">
                    <label>- {{CreditCard.Salary}}</label>
                </div>
                <div class="col-md-3">
                    <label for="txtJobTitle">Job Title</label>
                </div>
                <div class="col-md-3 ">
                    <label>-{{CreditCard.JobTitle}}</label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <label for="txtCardLimit">Card Limit</label>
                </div>
                <div class="col-md-3 ">
                    <label>-Rs {{CreditCard.CardLimit}}</label>
                </div>
                <div class="col-md-3">
                    <label for="txtCashLimit">Cash Limit</label>
                </div>
                <div class="col-md-3 ">
                    <label>-Rs {{CreditCard.CashLimit}} </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <label for="ddlCardType">Card Type</label>
                </div>
                <div class="col-md-3 ">
                    <label>- {{CreditCard.CardTypeName}} Type</label>
                </div>
                <div class="col-md-3">
                    <label for="ddlNationality">Nationality</label>
                </div>
                <div class="col-md-3 ">
                    <label>- {{CreditCard.NationalityName}} </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <label for="cardstatus">Card Status</label>
                </div>
                <div class="col-md-3 ">
                    <label>- {{CreditCard.CardStatusName}} </label>
                </div>
                <div class="col-md-3">
                    <label for="txtNote">Note</label>
                </div>
                <div class="col-md-3 ">
                    <label>- {{CreditCard.Note}}</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <!--<div class="col-md-3">
                <label>Comment</label>
            </div>-->
            <div class="col-md-12">
                <label>Reviewer Comment</label><textarea class="form-control" [(ngModel)]="CreditCard.ReviewerComment" name="ReviewerComment"></textarea>
                <!--<input type="text" class="form-control" [(ngModel)]="CreditCard.ReviewerComment" name="Note">-->
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="review('Approved')" *ngIf="IsAdmin">Approve</button>
            <button type="button" class="btn btn-primary" >
              <div *ngIf="IsAdmin" (click)="review('Rejected')">Reject</div>
              <div *ngIf="IsStaff" (click)="review('Performed')">Perform</div>            
            </button>
            <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
        </div>
    </div>
</div>
