<div class="panel panel-primary">
  <div style="height: 50px;padding:0" class="panel-heading">
    <div class="form-group row">
      <div class="col-xs-3" style="align-content:center">
        <div class="dropdown">
          <h3> <label for="fname">Full Name</label></h3>
          <div class="dropdown-content">
           <a  *ngFor="let fullName of fullNameList" (click)="filterByFullName(fullName)">{{fullName}}</a>
          </div>
          </div>
        </div>

      <div class="col-xs-3">
        <div class="dropdown">
          <h3><label for="displayname">Display Name</label></h3>
          <div class="dropdown-content">
            <a *ngFor="let displayName of displayNameList" (click)="filterByDisplayName(displayName)">{{displayName}}</a>
          </div>
        </div>
      </div>

    <div class="col-xs-3">
      <div class="dropdown">
        <h3><label for="cardtype">Card Type</label></h3>
        <div class="dropdown-content">
          <a *ngFor="let cardType of cardTypeList" (click)="filterByCardType(cardType)">{{cardType}}</a>
        </div>
      </div>
      </div>

  <div class="col-xs-3">
    <div class="dropdown">
      <h3><label for="cardlimit">Card Status</label></h3>
      <div class="dropdown-content">
        <a *ngFor="let cardStatus of cardStatusList" (click)="filterByCardStatusName(cardStatus)">{{cardStatus}}</a>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>
<div id="accordion" *ngFor="let creditcard of cardRequestList ,let index = index" (click)="clickRequest(index)">
  <div class="panel panel-primary">
    <div style="height: 30px;padding:0" class="panel-heading">
      <div class="form-group row" data-toggle="collapse" data-parent="#accordion" href="#demo">
        <div class="col-xs-3">
          <h5> <label for="fname">{{creditcard.FullName}}</label></h5>
        </div>

        <div class="col-xs-3">
          <h5><label for="displayname">{{creditcard.DisplayName}}</label></h5>
        </div>

        <div class="col-xs-3">
          <h5><label for="cardtype">{{creditcard.CardTypeName}}</label></h5>
        </div>

        <div class="col-xs-3">
          <h5><label for="cardlimit">{{creditcard.CardStatusName}}</label></h5>
        </div>
      </div>
    </div>
    <div id="#demo" class="collapse in" *ngIf="index==selectedIndex">
      <div class="panel-body panel-collapse">
            <div class="form-group">
              <div class="col-md-3">
                <label>Name in Full </label>
              </div>
              <div class="col-md-3 lightblue">
                <label>- {{creditcard?.FullName}}</label>
              </div>
              <div class="col-md-3">
                <label>Display Name</label>
              </div>
              <div class="col-md-3 lightblue">
                <label>- {{creditcard?.DisplayName}}</label>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-3">
                <label for="txtNic">NIC</label>
              </div>
              <div class="col-md-3 lightblue">
                <label>- {{creditcard?.Nic}}</label>
              </div>
              <div class="col-md-3">
                <label for="txtPassport">Passport</label>
              </div>
              <div class="col-md-3 lightblue">
                <label>- {{creditcard?.Passport}}</label>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-3">
                <label for="txtAddress">Address</label>
              </div>
              <div class="col-md-3 lightblue">
                <label>- {{creditcard?.Address}} </label>
              </div>
              <div class="col-md-3">
                <label for="txtMobile">Mobile</label>
              </div>
              <div class="col-md-3 lightblue">
                <label>- {{creditcard?.MobilePhone}} </label>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-3">
                <label for="txtHomePhone">Home Phone</label>
              </div>
              <div class="col-md-3 lightblue">
                <label>- {{creditcard?.HomePhone}}</label>
              </div>

              <div class="col-md-3">
                <label for="txtOffice">Office Phone</label>
              </div>

              <div class="col-md-3 lightblue">
                <label>- {{creditcard?.OfficePhone}}</label>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-3">
                <label for="txtEmail">Email</label>
              </div>
              <div class="col-md-3 lightblue">
                <label>- {{creditcard?.Email}}</label>
              </div>
              <div class="col-md-3">
                <label for="txtEmployer">Employer</label>
              </div>
              <div class="col-md-3 lightblue">
                <label>- {{creditcard?.Employer}}</label>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-3">
                <label for="txtSalary">Salary</label>
              </div>
              <div class="col-md-3 lightblue">
                <label>- {{creditcard?.Salary}}</label>
              </div>
              <div class="col-md-3">
                <label for="txtJobTitle">Job Title</label>
              </div>
              <div class="col-md-3 lightblue">
                <label>-{{creditcard?.JobTitle}}</label>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-3">
                <label for="txtCardLimit">Card Limit</label>
              </div>
              <div class="col-md-3 lightblue">
                <label>-Rs {{creditcard?.CardLimit}}</label>
              </div>
              <div class="col-md-3">
                <label for="txtCashLimit">Cash Limit</label>
              </div>
              <div class="col-md-3 lightblue">
                <label>-Rs {{creditcard?.CashLimit}} </label>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-3">
                <label for="ddlCardType">Card Type</label>
              </div>
              <div class="col-md-3 lightblue">
                <label>- {{creditcard?.CardTypeName}} Type</label>
              </div>
              <div class="col-md-3">
                <label for="ddlNationality">Nationality</label>
              </div>
              <div class="col-md-3 lightblue">
                <label>- {{creditcard?.NationalityName}} </label>
              </div>
            </div>

        <div class="form-group">
          <div class="col-md-3">
            <label for="cardstatus">Card Status</label>
          </div>
          <div class="col-md-3 lightblue">
            <label>- {{creditcard?.CardStatusName}} </label>
          </div>
          <div class="col-md-3">
            <label for="txtNote">Note</label>
          </div>
          <div class="col-md-3 lightblue">
            <label>- {{creditcard?.Note}}</label>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-3">
            <label for="cardstatus">Attachments</label>
          </div>
          <div class="col-md-3 lightblue" *ngFor="let attachment of creditcard?.AttachmentView">
            <label>- {{attachment.FileName}} </label>
          </div>
        </div>

          <label class="btn btn-default" (click)="openCreditCardView(creditcard?.CreditCardId)"> View </label>
          <label *ngIf="!IsAdmin && creditcard?.CardStatusName=='Pending'" class="btn btn-default" (click)="openCreditCardEdit(creditcard?.CreditCardId)"> Edit </label>
          <label *ngIf="!IsUser && creditcard?.CardStatusName=='Pending'" class="btn btn-default" (click)="openCreditCardApprove(creditcard?.CreditCardId)"> Review </label>
        </div>
      </div>
      </div>
    </div>
